.navBar h1, .navBar a
{
    width: 33.3%;
}

/* USED IN EDIT ACCOUNT DETAILS */
.accountForms
{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}
.accountForms h2
{
    width: 50%;
    float: left;
}
.form
{
    float: left;
}
.smallForm
{
    margin-right: 200px;
}

/* USED TO VIEW STATS */

.viewStatsButtons
{
    width: 80%;
    height: 100px;
    margin: 0 auto;
}

.viewStatsButton
{
    width: 15%;
    margin: 2.5%;
    float: left;
    padding: 20px 40px;
    border: 2px solid #333;
    font-size: 20px;
    text-decoration: none;
    color: #333;
}

.viewStatsButton:hover
{
    background-color: #333;
    color: #fff;
}