.gameScoreboard, .scoreboard
{
	width: 100%;
	height: 150px;
}

/* TOP SCOREBOARD */
.gameScoreboard
{
	width: 50%;
	margin: 0 auto;
	background-color: black;
}

.inner_gameScoreboard
{
	height: 25%;
	text-align: left;
	padding-left: 10%;
	color: #fff;
}

#gameInnings
{
	text-align: center;
	padding-left: 0;
}

.half_inner
{
	width: 50%;
	float: left;
}

.clear
{
	clear: both;
}

.enterScore
{
	height: 80%;
	width: 20%;
	float: right;
	margin-right: 10%;
	background-color: #fff;
	color: #333;
	font-size: 18px;
	line-height: 32.5px;
}

#gameScore, #gameWickets
{
	width: 30%;
	margin-right: 20%;
}

.half_inner:nth-of-type(3)
{
	padding-left: 5%;
}

#cricketScoreboard
{
	clear: both;
}

/* MAIN SCOREBOARD - WICKETS & SCORE */
.half_scoreboard
{
	width: 30%;
	height: 700px;
	float: left;
	margin: 20px auto;
}

.bowlerArea
{
	margin-left: 20%;
}

.inner_half
{
	height: 10%;
	line-height: 60px;
	border: 5px solid #f7f5fa;
	font-size: 30px;
}

.inner_half:nth-of-type(even)
{
	background-color: #333;
	color: #fff;
}

/* BOTTOM SCOREBOARD */
#cricketScoreboard
{
	color: #fff;
}

.inner_scoreboard
{
	width: 20%;
	height: 100px;
	float: left;
	line-height: 100px;
	font-size: 20px;
	border: 2px solid #f7f5fa;
	background-color: #333;
}

/* NAME SECTION */
.inner_scoreboard:nth-of-type(1)
{
	width: 100%;
	height: 50px;
	background-color: #a4a6a8;
	font-size: 24px;
	line-height: 50px;
	padding-left: 20px;
	text-transform: uppercase;
}

#nameSection
{
	text-align: left;
}

/* PLAYER TYPE SECTION */
.inner_scoreboard:nth-of-type(2)
{
	font-size: 26px;
	text-transform: uppercase;
}

.endGameScore
{
	margin-top: 20px;
	clear: both;
}

/* AREA TO DISPLAY STATS AFTER GAME HAS FINISHED */
.playerStatsArea
{
	margin: 20px 0;
	text-align: center;
}

.playerStatsArea h2
{
	margin: 10px 0;
}

.playerStatsArea table
{
	margin: 20px auto;
}












